<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Colombia – Departamento por Dirección</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
    <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>
</head>
<body>
    <div id="mapa">
		<div id="map"></div>
	</div>

	<div id="preguntas">
        <img src="{{ url_for('static', filename='img/titulo.png') }}" alt="">
        <div id="vidas">❤️❤️❤️</div>
        <div id="nivel"></div>
		<div>

            <p id="pregunta"></p>
            <p id="pista">
            
            </p>
			<img src="{{ url_for('static', filename='img/marta.png') }}" alt="" style="transform: scaleX(-1);">	
		</div>
		<div id="panel">
			<input id="direccion" type="text" placeholder="Escribe tu dirección">
			<button onclick="buscarDireccion();mostrarPregunta();">Buscar</button>
		</div>
	</div>
<!-- alertas -->


<div id="nivel-superado" class="alert">
  <div class="content">
    <h2>¡Nivel superado! 🎉</h2>
    <p>Prepárate para el siguiente nivel</p>
    <button onclick="document.getElementById('nivel-superado').style.display = 'none';">Siguiente 🎯</button>
  </div>
</div>

<div id="Perdiste" class="alert">
  <div class="content">
        <h2>¡Perdiste! 😢</h2>
    <p>No te desanimes, vuelve a intentarlo.</p>
    <button onclick="reiniciarJuego()">Volver a jugar</button>
  </div>
</div>

    <div id="Ganaste" class="alert">
  <div class="content">
    <h2>¡Ganaste! 🎉 </h2>
    <p>Respondiste todas las preguntas correctamente.</p>
    <button onclick="reiniciarJuego()">Volver a jugar</button>
  </div>
</div>


<script >
    window.preguntas_facil = {{ datos.random_questions_easy | tojson | safe }};
    window.preguntas_medio = {{ datos.random_questions_medium | tojson | safe }};
    window.preguntas_dificil = {{ datos.random_questions_hard| tojson | safe }};

  

 



</script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>